body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.topContainer {
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: 100%;
}

.topTextDiv {
    text-align: center;
    font-family: 'Catamaran', sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
}

.myfacePic {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.picDiv {
    margin: auto;
    text-align: center;
}

.belowPicText {
    text-align: center;
    font-family: 'Muli', sans-serif;
    margin-bottom: 50px;
}

.firstLineBpt {
    position: relative;
    margin-top: 10px;
    left: -500vw;
}

.secondLineBpt {
    position: relative;
    right: -500vw;
}

.aboutTextDiv {
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
    width: 80%;
    
}

.frontEndDiv {
    margin-top: 5px;
    background-color: rgba(56, 51, 51, 0.8);
    color: white;
    font-size: 25px;
    margin: 0px;
}

.frontEndDiv h3{
    text-align: center; 
    font-size: 35px;
    padding: 10px;
}

